:root {
  --black: #382a2c;
  --base: 2rem;
  --c1: #e06900;
  --c2: #c700eb;
}

@media (max-width: 600px) {
  :root {
    --base: 1.4rem;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.dd-navigation {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: var(--black);
  color: white;
  font-size: 120%;
}
.dd-navigation:hover {
  opacity: 0.8;
}

body {
  font-family: 'Roboto', sans-serif;
  background: whitesmoke;
  background: radial-gradient(#fff 0%, whitesmoke 100%);
  color: var(--black);
  font-size: var(--base);
  -webkit-font-smoothing: antialiased;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h1 {
  font-size: 300%;
}
h2 {
  font-size: 220%;
}
h3 {
  font-size: 160%;
}
h4 {
  font-size: 120%;
}

em {
  font-style: unset;
}
.dd-slide-odd em {
  color: var(--c1);
}
.dd-slide-even em {
  color: var(--c2);
}

a {
  color: var(--black);
}
